dataset: https://www.kaggle.com/c/si650winter11

In [34]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import train_test_split

from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score

In [2]:
with open('training.txt', encoding="utf8") as file:
    lines_train = file.readlines()
    
data_train = pd.DataFrame(columns=['label', 'text'])

for line in lines_train:
    label =line.split('\t')[0]
    text = re.sub('[^a-zA-Z ]+', '', string=line[1:])
    data_train = data_train.append({'label': label, 'text':text}, ignore_index=True)

In [3]:
data_train.head()

  label                                               text
0     1             The Da Vinci Code book is just awesome
1     1  this was the first clive cussler ive ever read...
2     1                    i liked the Da Vinci Code a lot
3     1                    i liked the Da Vinci Code a lot
4     1  I liked the Da Vinci Code but it ultimatly did...

In [4]:
with open('testdata.txt', encoding="utf8") as file:
    lines_test = file.readlines()

data_test = pd.DataFrame(columns=['label', 'text'])

for line in lines_test:
    line = re.sub('[^a-zA-Z ]+', '', string=line)
    #print(line)
    data_test = data_test.append({'text':line}, ignore_index=True)

In [5]:
data_test.head()

  label                                               text
0   NaN   I dont care what anyone says I like Hillary C...
1   NaN                     have an awesome time at purdue
2   NaN  Yep Im still in London which is pretty awesome...
3   NaN  Have to say I hate Paris Hiltons behavior but ...
4   NaN                             i will love the lakers

In [6]:
from nltk.corpus import stopwords
stopwords_list = stopwords.words('english')

In [10]:
cv = CountVectorizer(stop_words=stopwords_list, tokenizer=word_tokenize, ngram_range=(1,1))

In [11]:
train_vec = cv.fit_transform(data_train.text)
test_vec = cv.transform(data_test.text)

In [24]:
cols = cv.get_feature_names()
len(cols)

2074

In [25]:
data = pd.DataFrame(train_vec.toarray(), columns=cols)

In [26]:
data.head()

,aaron,able,abortion,abrams,absolute,absolutely,absurd,academy,acceptable,accompaniment,...,yet,yip,youand,young,younger,youre,yuck,yuh,zach,zen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
X = data
y = data_train['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [29]:
nb = GaussianNB()
nb.fit(X_train, y_train)
pred = nb.predict(X_test)

In [30]:
pred

array(['0', '1', '1', ..., '1', '1', '1'], dtype='<U1')

In [32]:
confusion_matrix(y_test, pred)

array([[537,  51],
       [ 25, 805]], dtype=int64)

In [33]:
accuracy_score(y_test, pred)

0.9464033850493653